<h1>Help</h1>

<ol>
  <li><%= link_to "Plugins", "#plugins" %></li>
  <li><%= link_to "Categories", "#categories" %></li>
  <li><%= link_to "Tags", "#tags" %></li>
  <li><%= link_to "Techniques", "#techniques" %></li>
  <li><%= link_to "Templates", "#templates" %></li>
</ol>

<ol>
  <li><%= anchor_link :text => "Plugins" %></li>
  <p></p>
  <li><%= anchor_link :text => "Categories" %></li>
  <li><%= anchor_link :text => "Tags" %></li>
  <li><%= anchor_link :text => "Techniques" %></li>
  <li><%= anchor_link :text => "Templates" %></li>
</ol>
