<h1>Listing Technique Types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @technique_types.each do |technique_type| %>
  <tr>
    <td><%= technique_type.name %></td>
    <td>
    <%= link_to image_show, technique_type %>
    <%= link_to image_edit, edit_technique_type_path(technique_type) %>
    <%= link_to image_destroy, technique_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="grouped-links">
<%= link_to image_add() + ' New Technique type', new_technique_type_path %>
</div>

