<h1>Listing plugins</h1>

<table>
  <tr>
    <th><%= sortable('name', Plugin) %></th>
    <th><%= sortable('os', Plugin) %></th>
    <th><%= sortable('category_id', Plugin) %></th>
    <th><%= sortable('author', Plugin) %></th>
    <th></th>
  </tr>

<% @plugins.each do |plugin| %>
  <tr>
    <td><%= plugin.name %></td>
    <td><%= plugin.os %></td>
    <td><%= plugin.category.name %></td>
    <td><%= plugin.author %></td>
    <td>
      <%= link_to image_technique, plugin_techniques_path(plugin) %>
      <%= link_to image_show(), plugin %>
      <%= link_to image_edit, edit_plugin_path(plugin) if can?("manage", "Plugin") %>
      <%= link_to image_destroy, plugin, :confirm => 'Are you sure?', :method => :delete if can?("manage", "Plugin") %>
      <%= link_to image_xml, plugin_path(plugin, :format => "xml") %>
    </td>
  </tr>
<% end %>
</table>

<br />

<div class="grouped-links">
<%= link_to image_add() + ' New Plugin', new_plugin_path if can?("manage", "Plugin")%>
</div>

