<h3>Updating abilities for user: <%= @user.name  %></h3>

<br />
<%= form_tag url_for(:action => :update_abilities) do %>
  <div style="width: 100%; text-align: center;"><%= submit_tag "Submit" %></div>

  <table id="abilities">
    <tr>
      <th>Action</th>
      <th>Model</th>
      <th></th>
    </tr>
  </table>
<% end %>

<script>
function remove_tr(link){
  link = $(link);
  var td = link.parent();
  var tr = td.parent().remove();
}

function add_ability(selected_action, selected_model){

  if(selected_action == undefined)
    selected_action = $('#actions option:selected').val();
  if(selected_model == undefined)
    selected_model = $('#models option:selected').val();

  if(selected_action == '' || selected_model == '')
   return;

  //create new node
  var ability = $('<tr class="ability"></tr>');
  ability.append($('<td><input class="td" type="text" value="'+
        selected_action+'" name="ability[][action]" /></td>'));
  ability.append($('<td><input class="td" type="text" value="'+
        selected_model+'" name="ability[][model]" /></td>'));
  ability.append($('<td><%= link_to image_destroy, "#", :onclick => "remove_tr(this); return false;" %></td>'));

  $('#abilities').append(ability);
}

window.onload = function(){
  <% for ability in @user.abilities %>
    add_ability("<%= ability.action %>", "<%= ability.model %>");
  <% end %>
}
</script>

<br />
<div class="table">
  <div class="tr">
    <div class="td center">action</div>
    <div class="td center">model</div>
  </div>
  <div class="tr">
    <div class="td"><%= select_tag :actions, options_for_select(@actions_options) %></div>
    <div class="td"><%= select_tag :models, options_for_select(@models_options) %></div>
    <div class="td"><%= tag :input, :value => "Add", :type => :button, :onclick => "add_ability()" %></div>
  </div>
</div>
<br />
<%= link_to "Back", users_path %>
