<h1>Listing template fields</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Values</th>
    <th>Tech col name</th>
    <th>Field category</th>
    <th></th>
  </tr>

<% @template_fields.each do |template_field| %>
  <tr>
    <td><%= template_field.name %></td>
    <td><%= template_field.join_values %></td>
    <td><%= template_field.tech_col_name %></td>
    <td><%= template_field.field_category.name %></td>
    <td>
    <%= link_to image_show, template_field %>
    <%= link_to image_edit, edit_template_field_path(template_field) %>
    <%= link_to image_destroy, template_field, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<div class="grouped-links">
<%= link_to image_add() + ' New Template field', new_template_field_path %>
</div>

