<h1>Listing technique templates</h1>

<table>
  <tr>
    <th>Template name</th>
    <th></th>
  </tr>

<% @technique_templates.each do |technique_template| %>
  <tr>
    <td><%= technique_template.name %></td>
    <td>
    <%= link_to image_show, technique_template %>
    <%= link_to image_edit, edit_technique_template_path(technique_template) if can?("manage", "TechniqueTemplate") %>
    <%= link_to image_destroy, technique_template, :confirm => 'Are you sure?', 
    :method => :delete if can?("manage", "TechniqueTemplate") %>
    </td>
  </tr>
<% end %>
</table>

<br />

<div class="grouped-links">
<%= link_to image_add() + ' New Technique template', new_technique_template_path if can?("manage", "TechniqueTemplate")%>
</div>

